.post-list {
  display: block;
  list-style-type: none;
    margin: 0;
    padding: 0;
  background-color: cadetblue;
  }
  
  .post-sub-list {
    display: block;
    list-style-type: none;
      margin: 0;
      padding: 0;
    background-color: cadetblue;
    }
  
  .post-list-sub-item {
    display: block;
    background-color: cornflowerblue;
  
  }
  
  .post-list-item {
  display: inline-block;
  background-color: darkcyan;
  }